*{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
}

*{
    background-color:#F8F2ED
}
.kanye-img{
    position: relative;
    height: 200px;
    width: 300px;
    border: black solid 5px;
    float: left;
    margin-right:15px;
}
.heading{
  position: absolute;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
    top:12%;
    left:4%;
    font-size: 45px;
}
.creative{
    display: inline-block;
    color: blue;
}
.title{
  font-weight: 1000;
  position: absolute;
  top: 25%;
  left:4%;
  font-size: 60px;

}
.image-kanye{
    position: absolute;
    top: 52%;
    left:4%;
    font-weight: 1000;
    width: 700px;
    height: 200px;
}
.vsauce{
    position: absolute;
    top: 52%;
    right:2%;
    font-weight: 1000;
    width: 700px;
    height: 200px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    }

@media'